/* src/app/globals.css */
@import "tailwindcss";

@tailwind/preflight;
@tailwind utilities;

:root {
  --background: #F2F2F2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F2F2F2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}





input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::before {
  content: "Choose files";
  display: inline-block;
  background: #6366f1;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
